/venv/
gcam.log
lib_sharpness_key_3.jpg
.gitignore
lib_sharpness_key_-3.jpg
lib_sharpness_key_-0.296875.jpg
lib_sharpness_key_-0.96875.jpg
lib_sharpness_key_0.96875.jpg
lib_sharpness_key_0.328125.jpg
*.jpg
*riv*.xml
8.2riv.xml
8.2riv.xml
a1.xml
4.png
.gitignore
2.png
1.png
3.png
coords.py
